  <label for="pCombat">Player Combat Skill:</label><input name="pCombat" ng-model="pCombat"/>
  <label for="pEndurance">Player Endurance:</label><input name="pEndurance" ng-model="pEndurance"/>
  <label for="eCombat">Enemy Combat Skill:</label><input name="eCombat" ng-model="eCombat"/>
  <label for="eEndurance">Enemy Endurance:</label><input name="eEndurance" ng-model="eEndurance"/>

  <input type="button" ng-click="runCombat()" value="Fight!"/>

  <label for="results">Results:</label><textarea name="results" ng-model="results" cols="100"/>
